# System files
.DS_Store
Thumbs.db
*.log

# IDEs
.idea/
.vscode/

# Project files
lib/
test/
docs/
docs-dist/
CHANGELOG.md
CODE_OF_CONDUCT.md
SECURITY.md
CONTRIBUTING.md

# For development
.git*
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc
.editorconfig
terser.config.json
tsconfig.json
tsconfig.prod.json
