# System files
.DS_Store
Thumbs.db
*.log

# IDEs
.idea/

# Project files
lib/
test/
CHANGELOG.md
CODE_OF_CONDUCT.md

# For development
.git*
tsconfig.json
.terserrc
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc
.editorconfig
.mocharc.json
